<div class="panel panel-default">
    <div class="panel-heading">
        <input type="radio" name="payment_method" data-panel="redepay"/>
        <img src="{{ image_title_redepay }}" />
        {{ text_title_redepay }}
    </div>
    <div id="panel-redepay" class="panel-body payment-panel" style="display: none;">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ redepay_document_label }}</label>
                    <input id="redepay_document" name="redepay_document"
                           type="text" class="form-control cpfcnpj" placeholder="***.***.***-**"/>
                </div>
            </div>
        </div>

        <hr />
        <div class="buttons">
            <div class="pull-right">
                <input type="button" value="{{ redepay_submit_checkout }}"
                       id="button-confirm-redepay" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>