{{ header }}{{ column_left }}
<div id="content">
    {% include 'extension/payment/maxipago/page_header.twig' %}
    {% include 'extension/payment/maxipago/page_body.twig' %}
</div>
{% include 'extension/payment/maxipago/script.twig' %}
{{ footer }}